.sprite {
    background-image: url(../images/services/design/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-element_1 {
    width: 122px;
    height: 127px;
    background-position: -10px -10px;
}

.sprite-element_10 {
    width: 87px;
    height: 13px;
    background-position: -10px -157px;
}

.sprite-element_11 {
    width: 166px;
    height: 218px;
    background-position: -10px -190px;
}

.sprite-element_12 {
    width: 81px;
    height: 40px;
    background-position: -10px -428px;
}

.sprite-element_13 {
    width: 239px;
    height: 198px;
    background-position: -10px -488px;
}

.sprite-element_14 {
    width: 41px;
    height: 129px;
    background-position: -10px -706px;
}

.sprite-element_15 {
    width: 97px;
    height: 136px;
    background-position: -10px -855px;
}

.sprite-element_16 {
    width: 88px;
    height: 30px;
    background-position: -10px -1011px;
}

.sprite-element_17 {
    width: 298px;
    height: 117px;
    background-position: -10px -1061px;
}

.sprite-element_18 {
    width: 156px;
    height: 147px;
    background-position: -10px -1198px;
}

.sprite-element_19 {
    width: 43px;
    height: 42px;
    background-position: -10px -1365px;
}

.sprite-element_2 {
    width: 498px;
    height: 201px;
    background-position: -10px -1427px;
}

.sprite-element_20 {
    width: 50px;
    height: 43px;
    background-position: -10px -1648px;
}

.sprite-element_21 {
    width: 57px;
    height: 41px;
    background-position: -10px -1711px;
}

.sprite-element_22 {
    width: 61px;
    height: 44px;
    background-position: -10px -1772px;
}

.sprite-element_23 {
    width: 42px;
    height: 44px;
    background-position: -10px -1836px;
}

.sprite-element_3 {
    width: 51px;
    height: 10px;
    background-position: -10px -1900px;
}

.sprite-element_4 {
    width: 104px;
    height: 14px;
    background-position: -10px -1930px;
}

.sprite-element_5 {
    width: 81px;
    height: 40px;
    background-position: -10px -1964px;
}

.sprite-element_6 {
    width: 180px;
    height: 197px;
    background-position: -10px -2024px;
}

.sprite-element_7 {
    width: 100px;
    height: 24px;
    background-position: -10px -2241px;
}

.sprite-element_8 {
    width: 371px;
    height: 123px;
    background-position: -10px -2285px;
}

.sprite-element_9 {
    width: 298px;
    height: 326px;
    background-position: -10px -2428px;
}
@media all and (max-width: 1400px) and (min-width: 1025px) {
    .sprite {
        background-image: url(../images/services/design/spritesheet-tablet.png);
        background-repeat: no-repeat;
        display: block;
    }

    .sprite-element_1 {
        width: 92px;
        height: 95px;
        background-position: -5px -5px;
    }

    .sprite-element_10 {
        width: 65px;
        height: 10px;
        background-position: -5px -110px;
    }

    .sprite-element_11 {
        width: 125px;
        height: 164px;
        background-position: -5px -130px;
    }

    .sprite-element_12 {
        width: 61px;
        height: 30px;
        background-position: -5px -304px;
    }

    .sprite-element_13 {
        width: 179px;
        height: 149px;
        background-position: -5px -344px;
    }

    .sprite-element_14 {
        width: 31px;
        height: 97px;
        background-position: -5px -503px;
    }

    .sprite-element_15 {
        width: 73px;
        height: 102px;
        background-position: -5px -610px;
    }

    .sprite-element_16 {
        width: 66px;
        height: 23px;
        background-position: -5px -722px;
    }

    .sprite-element_17 {
        width: 224px;
        height: 88px;
        background-position: -5px -755px;
    }

    .sprite-element_18 {
        width: 117px;
        height: 110px;
        background-position: -5px -853px;
    }

    .sprite-element_19 {
        width: 32px;
        height: 32px;
        background-position: -5px -973px;
    }

    .sprite-element_2 {
        width: 374px;
        height: 151px;
        background-position: -5px -1015px;
    }

    .sprite-element_20 {
        width: 38px;
        height: 32px;
        background-position: -5px -1176px;
    }

    .sprite-element_21 {
        width: 43px;
        height: 31px;
        background-position: -5px -1218px;
    }

    .sprite-element_22 {
        width: 46px;
        height: 33px;
        background-position: -5px -1259px;
    }

    .sprite-element_23 {
        width: 32px;
        height: 33px;
        background-position: -5px -1302px;
    }

    .sprite-element_3 {
        width: 38px;
        height: 8px;
        background-position: -5px -1345px;
    }

    .sprite-element_4 {
        width: 78px;
        height: 11px;
        background-position: -5px -1363px;
    }

    .sprite-element_5 {
        width: 61px;
        height: 30px;
        background-position: -5px -1384px;
    }

    .sprite-element_6 {
        width: 135px;
        height: 148px;
        background-position: -5px -1424px;
    }

    .sprite-element_7 {
        width: 75px;
        height: 18px;
        background-position: -5px -1582px;
    }

    .sprite-element_8 {
        width: 278px;
        height: 92px;
        background-position: -5px -1610px;
    }

    .sprite-element_9 {
        width: 224px;
        height: 245px;
        background-position: -5px -1712px;
    }
}
@media all and (max-width: 1024px) {
    .sprite {
        background-image: url(../images/services/design/spritesheet-mobile.png);
        background-repeat: no-repeat;
        /*background-size: auto 1387px;*/
        display: block;
    }

    .sprite-element_1 {
        width: 61px;
        height: 64px;
        background-position: -5px -5px;
    }

    .sprite-element_10 {
        width: 44px;
        height: 7px;
        background-position: -5px -79px;
    }

    .sprite-element_11 {
        width: 83px;
        height: 109px;
        background-position: -5px -96px;
    }

    .sprite-element_12 {
        width: 41px;
        height: 20px;
        background-position: -5px -215px;
    }

    .sprite-element_13 {
        width: 120px;
        height: 99px;
        background-position: -5px -245px;
    }

    .sprite-element_14 {
        width: 21px;
        height: 65px;
        background-position: -5px -354px;
    }

    .sprite-element_15 {
        width: 49px;
        height: 68px;
        background-position: -5px -429px;
    }

    .sprite-element_16 {
        width: 44px;
        height: 15px;
        background-position: -5px -507px;
    }

    .sprite-element_17 {
        width: 149px;
        height: 59px;
        background-position: -5px -532px;
    }

    .sprite-element_18 {
        width: 78px;
        height: 74px;
        background-position: -5px -601px;
    }

    .sprite-element_19 {
        width: 22px;
        height: 21px;
        background-position: -5px -685px;
    }

    .sprite-element_2 {
        width: 249px;
        height: 101px;
        background-position: -5px -716px;
    }

    .sprite-element_20 {
        width: 25px;
        height: 22px;
        background-position: -5px -827px;
    }

    .sprite-element_21 {
        width: 29px;
        height: 21px;
        background-position: -5px -859px;
    }

    .sprite-element_22 {
        width: 31px;
        height: 22px;
        background-position: -5px -890px;
    }

    .sprite-element_23 {
        width: 21px;
        height: 22px;
        background-position: -5px -922px;
    }

    .sprite-element_3 {
        width: 26px;
        height: 5px;
        background-position: -5px -954px;
    }

    .sprite-element_4 {
        width: 52px;
        height: 7px;
        background-position: -5px -969px;
    }

    .sprite-element_5 {
        width: 41px;
        height: 20px;
        background-position: -5px -986px;
    }

    .sprite-element_6 {
        width: 90px;
        height: 99px;
        background-position: -5px -1016px;
    }

    .sprite-element_7 {
        width: 50px;
        height: 12px;
        background-position: -5px -1125px;
    }

    .sprite-element_8 {
        width: 186px;
        height: 62px;
        background-position: -5px -1147px;
    }

    .sprite-element_9 {
        width: 149px;
        height: 163px;
        background-position: -5px -1219px;
    }
}