.ebooks-page {
  padding-top: 50px;

  @media all and (min-width: 681px) {
    padding-top: 60px;
  }

  * {
    box-sizing: border-box;
  }

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }

  .get-ebook-form__title {
    font-size: 22px;
    margin-bottom: 0;

    @media all and (max-width: 1024px) {

    }

    @media all and (min-width: 400px) and (max-width: 680px) {
      font-size: 24px;
    }

    @media all and (max-width: 360px) {
      font-size: 20px;
    }

    @media all and (max-width: 360px) {
      font-size: 18px;
    }
  }

  .wpcf7-response-output {
    &:after {
      display: none !important;
    }

    &:before {
      content: 'Thanks for sending the form!' !important;
      margin-bottom: 130px !important;
      font-size: 22px;
    }
  }
}

.hero-ebooks {
  position: relative;
}

.hero-ebooks__intro {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #ffffff;
  min-height: 265px;
  position: relative;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  display: flex;
  background-color: rgba(0,0,0, .6);

  @media all and (max-width: 460px) {
    background-position: center left;
  }

  @media all and (min-width: 641px) {
    margin-bottom: 0;
    min-height: 400px;
  }

  @media all and (min-width: 681px) {
    min-height: 488px;
    padding-top: 75px;
    padding-bottom: 60px;
  }

  @media all and (min-width: 1025px) {
    min-height: 480px;
    padding-top: 160px;
    padding-bottom: 110px;
  }

  .page-container {
    display: flex;
    height: inherit;
  }
}

.ebooks-bg-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  z-index: -1;

  .ebooks-bg-image {
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: center;
    margin: auto;
    display: block;

    //@media all and (max-width: 500px) {
    //  object-position: center left;
    //}
  }
}


.hero-ebooks__text-part {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: inherit;

  @media all and (min-width: 681px) {
    width: 45%;
  }

  @media all and (min-width: 760px) {
    width: 47%;
  }

  @media all and (min-width: 992px) {
    width: 60%;
  }

  @media all and (min-width: 1025px) {
    width: 70%;
  }

  @media all and (min-width: 1201px) {
    //width: 70%;
    width: 90%;
  }
}

.hero-ebooks__label {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #F1563C;
  margin-bottom: 16px;

  @media all and (min-width: 641px) {
    font-size: 24px;
    margin-bottom: 24px;
  }

  @media all and (min-width: 1025px) {
    margin-bottom: 16px;
  }
}

.hero-ebooks__info {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;

  @media all and (min-width: 641px) {
    margin-bottom: 32px;
  }

  @media all and (min-width: 1025px) {
    margin-bottom: 50px;
  }
}

.hero-ebooks__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;

  @media all and (min-width: 641px) {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 40px;
  }

  @media all and (min-width: 1025px) {
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 32px;
  }
}

.hero-ebooks__date {
  font-size: 14px;
  line-height: 24px;
}

.ebooks-block {
  padding-bottom: 100px;

  @media all and (min-width: 1025px) {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 120px;
  }
}

.ebooks-content {
  padding-top: 40px;

  @media all and (min-width: 1025px) {
    width: 60%;
    max-width: 656px;
    padding-top: 60px;
    margin-right: auto;
  }

  @media all and (min-width: 1201px) {
    width: 70%;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    margin: 48px 0 24px;

    &:first-of-type {
      margin-top: 0;
    }

    @media all and (min-width: 641px) {
      font-size: 32px;
      line-height: 44px;
      margin: 40px 0 32px;
    }

    @media all and (min-width: 1025px) {
      font-size: 32px;
      line-height: 40px;
      margin: 60px 0 32px;
    }
  }

  p {
    line-height: 32px;
    margin-bottom: 32px;

    @media all and (max-width: 641px) {
      font-size: 16px;
    }
  }

  ul li {
    line-height: 32px;

    &:not(:last-of-type) {
      margin-bottom: 7px;
    }
  }
}

.confirmation-text {
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  color: #666666;
  margin-top: 24px;

  a {
    font-size: inherit;
    color: inherit;
    text-decoration: none;
    transition: .4s;

    &:hover {
      text-decoration: underline;
    }
  }
}

.ebook-info {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: #FFFFFF;

  opacity: 0;
  visibility: hidden;
  transition: .4s;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  &__title {
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    max-width: 210px;
    margin: 0 auto 35px;
  }

  &__image-wrap {
    max-width: 208px;
    margin: 0 auto 40px;
  }

  &__link {
    display: block;
    width: 100%;
    max-width: 298px;
    margin: 0 auto;
    background: #F1563C;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px;
  }
}