$brand_color : #f1563c;
$main_text_color : #333333;
$heading_color: #333333;
$grey_section_bg: #f9f9f9;
$section-background: #f3f3f3;
$grey-text: #959494;
$border-color: #ccc;
$white: #ffffff;
$headingLeftIndent: 110px;
$prosListColor: #3a494e;
/*new design*/
$moc_header_color: #333333;
$roboto: 'Roboto', sans-serif;
$open_sans: 'Open Sans', sans-serif;
$max_section_width: 1200px;

