.page-ai-landing,
.page-ai-landing-ecommerce {
  section.use-cases-values {
    background-color: #333333;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #FFFFFF;

    @media all and (max-width: 992px) {
      padding-top: 28px;
      padding-bottom: 28px;
    }

    @media all and (max-width: 540px) {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}

.use-cases-values {
  &__list {
    display: flex;
    text-align: center;

    @media all and (max-width: 540px) {
      flex-direction: column;
    }
  }

  &__item {
    padding: 0 36px;
    width: calc(100%/3);

    @media all and (max-width: 992px) {
      padding: 0 24px;
    }

    @media all and (max-width: 780px) {
      padding: 0 15px;
    }

    @media all and (max-width: 540px) {
      padding: 24px 15px;
      width: 100%;
    }

    &:not(:last-of-type) {
      border-right: 1px solid #999;

      @media all and (max-width: 540px) {
        border-right: none;
        border-bottom: 1px solid #999;
      }
    }
  }

  &__value-title {
    display: inline-block;
    font-weight: 500;
    font-size: 54px;
    line-height: 63px;
    margin-bottom: 8px;

    @media all and (max-width: 992px) {
      font-size: 40px;
      line-height: 47px;
    }

    @media all and (max-width: 540px) {
      margin-bottom: 4px;
    }
  }

  &__value-description {
    font-size: 16px;
    line-height: 22px;

    @media all and (max-width: 992px) {
      font-size: 14px;
      line-height: 18px;
    }

    @media all and (max-width: 540px) {
      max-width: 315px;
      margin: 0 auto;
    }

    @media all and (max-width: 400px) {
      max-width: 210px;
    }
  }
}